
<html>
	<header>
		<meta charset="UTF-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="/style.css" rel="stylesheet">
  	<link href="/tailwind.css" rel="stylesheet">
	</header>
	<body class="bg-page text-gray-100 ml-5 mr-5">
		<div class="w-full">
			<div>
				<span class="text-3xl font-medium">{{ area.description }}</span>
			</div>
			<div>
				<span class="text-lg font-medium">{{ area.domain }}</span>
			</div>
		</div>
		{{setvar "strtime1" "00000000"}}
		{{#each result.t.times}}
			{{#if (isdatechange @root.strtime1 datetime) }}
				{{#unless @first }}
		</div>
				{{/unless}}
				{{setvar "strtime1" datetime}}
		<div class="w-full">
			<span class="text-lg">{{tostringdate datetime}}</span>
		</div>
		<div class="flex overflow-x-scroll hide-scroll-bar gap-2">
			{{/if}}
			<div class="flex flex-col rounded-md p-4 weather-card {{#if (isday datetime) }}bg-day{{else}}bg-day{{/if}} text-gray-100{{#when @root.result.idx "eq" @index }} border-2 border-red-400{{/when}}">
				<div class="flex flex-row items-center justify-center">
					<span class="text-sm font-bold">{{tostringtime datetime}}</span>
				</div>
				{{#with (lookup ../result.weather.times @index) }}
				<div class="mt-4 self-center inline-flex items-center justify-center rounded-lg h-16 w-16">
					<img class="weather-icon" src = "/assets/{{tosvgcode code datetime}}.svg" alt="weather"/>
				</div>
				<div class="flex flex-row items-center justify-center mt-4">
					<span class="text-xs font-bold">{{ name }}</span>
				</div>
				{{/with}}
				<div class="flex flex-row items-center justify-center">
					<div class="font-medium text-xl">{{ celcius }}</div>
				</div>
				<div class="flex flex-row justify-between mt-4 text-[8px]">
					<div class="flex flex-col items-center">
						<div class="h-5 w-5">
							<img class="bottom-icon" src = "/assets/ws.svg" alt="wind speed"/>
						</div>
						{{#with (lookup ../result.ws.times @index) }}
						<div>{{ kph }} <br/><span class="text-[8px]">km/h</span></div>
						{{/with}}
					</div>
					<div class="flex flex-col items-center">
						<div class="h-5 w-5">
							<img class="bottom-icon" src = "/assets/hu.svg" alt="humidity"/>
						</div>
						{{#with (lookup ../result.hu.times @index) }}
						<div>{{ value }}</div>
						{{/with}}
					</div>
					<div class="flex flex-col items-center">
						<div class="h-5 w-5">
							<img class="bottom-icon" src = "/assets/wd.svg" alt="wind direaction"/>
						</div>
						{{#with (lookup ../result.wd.times @index) }}
						<div>{{ deg }} °</div>
						{{/with}}
					</div>
				</div>
			</div>
		{{/each}}	
	</body>
</html>